@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Outfit:wght@100..900&family=Prata&display=swap');

a.active hr{
    display: block;
}

@media (max-width:640px) {
    a.active{
        background-color: black;
        color: white;
    }
}


/* #Hero_Background{
    background: url('assets\My_assets\background.jpg');
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter:brightness(0.4);
    z-index: 100;
} */

  

  